<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ylp.financesys.mapper.FtypeMapper">
	<insert id="addFtype" parameterType="Ftype">
		<selectKey keyProperty="fid" keyColumn="fid" order="BEFORE" resultType="String">
			select seq_Ftype_fid.nextval from dual 
		</selectKey>
		insert into Ftype values(${fid},${fname})
	</insert>
	
	<select id="findByPage" resultType="Ftype" parameterType="Map">
		select fname,fid from (select rownum rn ,a.* from Ftype a where ${pageNo}*${pageSize} >= rownum ) where rn> (${pageNo}-1) * ${pageSize}
	</select>
	<select id="findAll" resultType="Ftype">
		select fname,fid from Ftype
	</select>

	<select id="getTotal" resultType="int">
		select count(fid) from Ftype
	</select>
	<delete id="delete" parameterType="String">
		delete from Ftype where fid in
		<!-- collection 表示集合类型 -->
		<foreach collection="list" item="fid" open="(" close=")" separator=",">
			${fid}
		</foreach>
	</delete> 
	
	<update id="update" parameterType="Ftype">
		update Ftype set fname=${fname} where fid=${fid}
	</update>
</mapper>