<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ylp.financesys.mapper.MenuitemMapper">
	<select id="findAll" resultType="Menuitem">
		select mid,mname,m.mtid,mtname,attr from menuitem m join menutype mt on m.mtid=mt.mtid
	</select>
</mapper>