<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ylp.financesys.mapper.ReiminfoMapper">
	<insert id="addReiminfo" parameterType="Reiminfo">
		<selectKey keyProperty="rid" keyColumn="rid" order="BEFORE" resultType="String">
			select seq_Reiminfo_rid.nextval from dual 
		</selectKey>
		insert into Reiminfo values(#{rid},sysdate,#{eid},#{proof},#{price},#{remark},#{imid},#{deptmanager},#{topmanager},#{cashier},#{financer},0)
	</insert>
	
	<select id="findByPage" resultType="Reiminfo" parameterType="Map">
		select rid,to_char(rdate,'yyyy-mm-dd') rdate,price,imid,iname,ename,proof,remark,eid,cashier,deptmanager,topmanager,financer,rstatus from (select rownum rn ,a.* from (select r.*,ename,iname from reiminfo r , employer e,fitems f where r.eid=e.eid and r.imid=f.imid) a where #{pageNo}*#{pageSize} >= rownum ) where rn> (#{pageNo}-1) * #{pageSize}
	</select>
	<select id="findByEmp" resultType="Reiminfo" parameterType="Map">
		select rid,to_char(rdate,'yyyy-mm-dd') rdate,price,imid,iname,ename,proof,remark,eid,cashier,deptmanager,topmanager,financer,rstatus from (select r.*,ename,iname from reiminfo r , employer e,fitems f where r.eid=e.eid and r.imid=f.imid and r.eid=#{eid}) a where #{pageNo}*#{pageSize} >= rownum ) where rn> (#{pageNo}-1) * #{pageSize}
	</select>
	<select id="findAll" resultType="Reiminfo">
		select rid,to_char(rdate,'yyyy-mm-dd') rdate,price,r.imid imid ,iname,ename,proof,remark,e.eid eid,cashier,deptmanager,topmanager,financer,rstatus from reiminfo r , employer e,fitems f where r.eid=e.eid and r.imid=f.imid
	</select>

	<select id="getTotal" resultType="int">
		select count(rid) from Reiminfo
	</select>
	
	<select id="getTotalByEmp" resultType="int" parameterType="String">
		select count(rid) from Reiminfo where eid=#{eid}
	</select>
	
	<delete id="delete" parameterType="String">
		delete from Reiminfo where rid in
		<!-- collection 表示集合类型 -->
		<foreach collection="list" item="rid" open="(" close=")" separator=",">
			#{rid}
		</foreach>
	</delete> 
	
	<update id="checkReim" parameterType="map">
		update Reiminfo set rstatus=#{rstatus} where rid=#{rid}
	</update>
	
	<update id="updateReiminfo" parameterType="Reiminfo">
		update Reiminfo set price=#{price},remark=#{remark},proof=#{proof},imid=#{imid} where rid=#{rid}
	</update>
	
	<select id="findByCondition" resultType="Reiminfo" parameterType="Map">
		select rid,to_char(rdate,'yyyy-mm-dd') rdate,price,imid,iname,ename,proof,remark,eid,cashier,deptmanager,topmanager,financer,rstatus from (select rownum rn ,a.* from (select r.*,ename,iname from reiminfo r , employer e,fitems f where r.eid=e.eid and r.imid=f.imid) a where #{pageNo}*#{pageSize} >= rownum ) where rn> (#{pageNo}-1) * #{pageSize}
		<if test="date!=null">
			and to_char(rdate,'yyyy-mm-dd')='#{date}'
		</if>
		<if test="imid!=null">
			and imid=#{imid}
		</if>
		<if test="status!=null">
			and rstatus=#{status}
		</if>
		<if test="startprice!=null">
			and price >= #{startprice}
		</if>
		<if test="endprice!=null">
			and  #{endprice} >= price
		</if>
	</select>

	<select id="getTotalByCondition" resultType="int">
		select count(rid) from Reiminfo
		<where>
			<if test="date!=null">
			and to_char(rdate,'yyyy-mm-dd')='#{date}'
			</if>
			<if test="imid!=null">
				and imid=#{imid}
			</if>
			<if test="status!=null">
				and rstatus=#{status}
			</if>
			<if test="startprice!=null">
				and price >= #{startprice}
			</if>
			<if test="endprice!=null">
				and #{endprice} >= price
			</if>
		</where>
	</select>
	
	<select id="findByRid" resultType="Reiminfo" parameterType="map">
		select rid,to_char(rdate,'yyyy-mm-dd') rdate,price,r.imid imid ,iname,ename,proof,remark,e.eid eid,cashier,deptmanager,topmanager,financer,rstatus from reiminfo r , employer e,fitems f
		 where r.eid=e.eid and r.imid=f.imid and rid=#{rid}
	</select>
</mapper>